<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{bd19d639-e7d5-46a8-bfc7-b10c39c8b9fd}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image>Images\ccpps.png</Image><Author>Untitled</Author><Company>Untitled</Company><Date>04/28/2017</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="PruebaSuma_addin.py" namespace="PruebaSuma_addin"><ArcMap>
    <Commands>
        <Tool caption="sumaviv" category="Python Addin" class="sumaviv" id="PruebaSuma_addin.sumaviv" image="Images\Seccion.png" message="sumaviv" tip="sumaviv"><Help heading="sumaviv">sumaviv</Help></Tool>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Toolbar" category="Python Addin" id="PruebaSuma_addin.toolbar" showInitially="true"><Items><Tool refID="PruebaSuma_addin.sumaviv" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>